In [1]:
tupla_nova= 10, 20, 30 
tupla_nova

(10, 20, 30)

In [3]:
tupla= tuple('teste')
tupla

('t', 'e', 's', 't', 'e')

In [5]:
tupla= ('marlene','zezinho','marlene','zuely')
print(tupla.count('marlene'))
print(tupla.count('suely'))
print(tupla.count('zezinho'))

2
0
1

In [7]:
tupla=(1,2,2,3,4,4,4,5)
print(tupla.count(2))
print(tupla.count(4))

2
3

In [8]:
dicio= {'chave':'valor'}
print(type(dicio))

<class 'dict'>

In [10]:
d= {'laranja': 15, 'bananas': 35, 'siriguelas': 12}
d ['bananas']

35

In [22]:
d['pitomba']=20
len(d)
d
'pitomba' in d
'pears' in d
del d['laranja']
'laranja' in d

KeyError: 'laranja'

In [25]:
frutas = ['pinha','oiti coró', 'jaca','tamarindo']
print([1,2] + [3,4])
print(frutas + [6,7,8,9])

print([0]*4)
print([1,2,['oi','tchau']]*2)

[1, 2, 3, 4]
['pinha', 'oiti coró', 'jaca', 'tamarindo', 6, 7, 8, 9]
[0, 0, 0, 0]
[1, 2, ['oi', 'tchau'], 1, 2, ['oi', 'tchau']]